.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

.contain {
    width: 600px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 8px;
    border-color: #e0e0e0;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    font-family: 'Roboto',arial,sans-serif;
    font-size: 15px;
    margin: 32px auto 16px auto;
}

.container {
    display:flex;
    justify-content: flex-end;
    align-items: center; 
    height: 46px;
    padding: 12px 16px 12px 16px;
}

.note {
    flex-grow: 1;
}

.container1 {
    display: flex;
    flex-direction: column;
    height: 136px;
}

.note1 {
    height: 90px;
}

.MuiInputBase-input {
    color: gray !important;
}

.pd {
    letter-spacing: .00625em;
    padding: 10px 15px 12px 15px;
    height: 24px;
}

.title {
    display: flex;
}

.toolbar {
    display: flex;
    padding-left: 15px;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    padding: 8px 24px;
}

@media screen and (max-width: 700px) {

    .contain {
        width: 99%;
        margin: 16px 30px 8px 30px;
    }

    .note { 
        width: 200px;
    }
}